* {
    margin: 0;
    padding: 0;
    font-family:' Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: navy;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 5vh;
    align-items: center;
    padding: 5px;
    font-weight: bold;
}

header button {
    width: 150px;
    height: 30px;
    margin-left: auto;
    border-radius: 25px;
    background-color: white;
    border: 1px solid white;
    color: navy;
    font-size: 1.2em;
    font-weight: bold;
    transition: 0.5s;
}

.card {
    background-color: rgb(243, 228, 228);
    height: 200px;
    width: 200px;
    border-radius: 25px;
    padding: 15px;
    text-align: center;
}

.card .read-button {
    border: none;
    background-color: navy;
    color: white;
    border-radius: 25px;
    height: 30px;
    width: 80%;
    font-weight: bold;
    margin-top: 50px;
}

.card .remove-button {
    border: none;
    background-color: red;
    color: white;
    border-radius: 25px;
    height: 30px;
    width: 80%;
    font-weight: bold;
    margin-top: 5px;
}

button:hover {
    cursor: pointer;
}

body {
    position: relative;
}

dialog {
    height: 50vh;
    width: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: navy;
    border-radius: 25px;
    color: white;
    padding: 25px;
    box-shadow: 0 0 15px blue;
}

dialog input {
    border-radius: 25px;
    padding: 5px;
    border: none;
}

.create-button,
.cancel-button {
    height: 55px;
    width: 100px;
    color: navy;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 15px;
    border: none;
    transition: 0.5s;
}

.create-button {
    background-color: green;
    color: white;
}

.cancel-button {
    background-color: white;
    color: red;
    border: 2px solid red;
}

input[type="checkbox"] {
    height: 18px;
    width: 18px;
    flex-direction: row;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#read {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.create-button:hover {
    background-color: white;
    color: green;
    transition: 0.5s;
    border: 2px solid green;
}

.cancel-button:hover {
    background-color: red;
    color: white;
    transition: 0.5s;
    border: 2px solid red;
}

.add-book:hover {
    background-color: navy;
    color: white;
    transition: 0.5s;
}